
{% extends "blog/base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-3 mt-3">
            <h2>Forgot Password</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
            </form>
            <div class="mt-3">
                {% include "blog/includes/nonfeilderrors.html" %}
                {% if messages %}
            
            <div class="container mt-3">
                <div class="d-flex justify-content-center">
                    <div class="alert alert-success alert-dismissible fade show" role="alert"> 
                        {% for message in messages %} {{message}} {% endfor %} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div> 

            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

