
{% extends "blog/base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-3 mt-3">
            <h2>Forgot Password</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <span class="text-danger">{{error}}</span>
                            {% endfor %}
                        {% endif %}
                    <input type="email" class="form-control" id="email" name="email" >
                </div>
                <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
            </form>
            <div class="mt-3">
                {% include "blog/includes/nonfeilderrors.html" %}
                {% include "blog/includes/messages.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

