
{% extends "blog/base.html" %}

{% block content %}

<div class="container-fluid ">
    <div class="row my-2">
        <div class="col">
            <h2 >Posts</h2>
        </div>
        
            <div class="col-3">
                <form method="GET" action="">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" placeholder="Search..." aria-label="Search">
                    <button class="btn btn-outline-light btn-primary " type="submit" id="button-search">
                    <i class="bi bi-search"></i> <!-- Bootstrap Icons -->
                    </button>
                </div>
            </form>
            </div>
        
    </div>
    <div class="row m-3">
    {% for post in page_obj %}
    <div class="col-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img style="height:300; width:300" src="{{post.formeted_image}}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-8">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.content |truncatechars:30}}</p>
                        <div class="d-flex justify-content-between">
                            <a href="{% url "blog:detail" slug=post.slug %}">Read More</a>
                            <a class="text-decoration-none text-dark fw-bold" href="#">
                                {%for catagory in Catagories%}
                                    {% if post.catagory_id == catagory.id %}
                                    {{catagory.catagories}}
                                    {%endif%}
                                {%endfor%}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include "blog/includes/pagination.html" %}
    {% if messages %}
        {% include "blog/includes/messages.html" %}
        <a href = "{% url "blog:index" %}" > Click here to return to Home Page </a>
    {% endif %}
    
   
</div>

</div>
</div>




{% endblock content %}


