{% if messages %}
            
    <div class="container mt-3">
        <div class="d-flex justify-content-center">
            {% for message in messages %}
                <div class="alert {% if message.tags == "success" %} alert-success {% else %} alert-danger{% endif %}  alert-dismissible fade show" role="alert"> 
                         {{message}}
            {% endfor %} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div> 

{% endif %}